{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class='container'>
 <h1>Page d'accueil</h1>
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        <a href='{{ path('user.update', {slug : app.user.slug , id : app.user.id}) }}'><button class='btn btn-primary'>Modifier mon profil</button></a>
    {% endif %}
</div>
{% endblock %}
