
* {
    margin:0;
padding:0;

}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }
.background-home {
    position: relative;
    background-image: url('../pictures/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.one-trick {
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin-bottom: 50px;
    border-radius: 10px;
    padding-bottom: 30px;
    background: linear-gradient(to right, rgb(230, 230, 230, 0.8), rgb(226, 226, 226));
}
.card-picture {
    margin-bottom: 30px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.one-trick a {
    
    text-decoration: none;
    color: black;
    
}
.html-content {
    min-height: 100%;
    margin-bottom: -142px; 
}
html {
    scroll-behavior: smooth;
}
.one-trick:hover {
    transition-delay: 0.6s;
    background: linear-gradient(to left, rgb(230, 230, 230, 0.8), rgb(226, 226, 226));
}
footer {
    position:relative;
bottom:0;
width: 100%;
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.up {
    float: right;
}
#down {
    float: right;
}
.navbar-mobile {
    display: none;
}
@media screen and (max-width: 640px) {
    .navbar {
        display: none;
        
    }
    .navbar-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.9);
        border-top: 1px solid black;
    }
    footer {
        margin-bottom: 40px;
    }
}