
.background-home {
    position: relative;
    background-image: url('../pictures/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.one-trick {
    border: 1px solid rgb(128, 128, 128, 0.5);
    margin-bottom: 50px;
    border-radius: 10px;
    padding-bottom: 30px;
    background: linear-gradient(to right, rgb(230, 230, 230, 0.8), rgb(226, 226, 226));
}
.card-picture {
    margin-bottom: 30px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.one-trick a {
    
    text-decoration: none;
    color: black;
    
}
html {
    scroll-behavior: smooth;
}
.one-trick:hover {
    transition-delay: 0.6s;
    background: linear-gradient(to left, rgb(230, 230, 230, 0.8), rgb(226, 226, 226));
}
footer {
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.up-down {
    position:absolute;
  right: 2%;
}
.navbar-mobile {
    display: none;
}
@media screen and (max-width: 640px) {
    .navbar {
        display: none;
        
    }
    .navbar-mobile {
        display: block;
        position: fixed;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: white;
  box-shadow: gray 1px 1px 1px;
 
    }
}