.trick-single {
    margin-top: 40px;
    border: 1px solid rgb(197, 197, 197,0.6);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.comments {
    border: 1px solid rgb(197, 197, 197,0.8);
    margin-bottom: 50px;
    margin-top : 30px;
    border-radius: 10px;
    padding: 50px;
    
}
.comment {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(219, 219, 219);
   
}
.comment-picture {
    border-radius: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.comment-info {
   display: flex;
}
.comment-content {
   text-align: justify;
}
.img-fluid {
    width: 100%;
    height: 250px;
}
.carousel {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    background: linear-gradient(to left, rgb(230, 230, 230, 0.8), rgb(226, 226, 226));
}
.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}
.carousel-control-prev {
    position: absolute;
    width: 69px;
    height: 80px;
    top: 80px;
    bottom: 70px;
}
.carousel-control-next {
    position: absolute;
    width: 69px;
    height: 80px;
    top: 80px;
    bottom: 70px;
}
.carousel-indicators {
    position: absolute;
    bottom: -50px;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: rgb(121, 117, 117);
}
.show-media button {
    display: none;
}
.hide-media button {
    display: none;
}
#loadMoreComments {
    display: inline;
}
.delete {
    margin: 54px;
}
@media screen and (max-width: 640px) {
    .show-media button {
        display: inline;
    }
    .carousel {
        display: none;
    }
}