{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class='col-xl-6'>
            <img src='/pictures/404.png'>
        </div>
        <div class='col-xl-6'>
            <h1 class='display-1 lead'>404</h1>
            <h3 class="display-3">
                La page que tu recherches n'existe pas ou n'est plus disponible !
            </h3>
                <a href="{{ path('home') }}"> Retourner
                    à
                    l'accueil</a>.
            
        </div>
    </div>
</div>
{% endblock %}