{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    <div class="container">
    {{ form_start(form) }}
    <button class='btn btn-primary'>Ajouter</button>
    {{ form_rest(form) }}
</div>
    
{% endblock %}
