{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}

{% block body %}
    <a href="{{ path('trick')}}"><button class="btn btn-primary">Retour aux figures</button></a>
    <a href="{{ path('trick.update' , { id : trick.id} )}}"><button class="btn btn-primary">Modifier la figure</button></a>
    {{ trick.title }}
{% endblock %}
