<h1>Activation de votre compte </h1>

<p> Pour finaliser votre inscription sur SnowTricks, veuillez cliquer sur le lien ci-dessous pour activer votre compte : <p>
<p><a href="{{ absolute_url(path('app_confirm_mail', {'token' : token })) }}">Activer mon compte </a></p>
